<p>
  diaries works!
</p>
<ul *ngFor="let diary of diaries">
  <li>{{diary.text}}</li>
</ul>

<div class="row justify-content-between" *ngFor="let diary of diaries">
    <div id="metabubla" class="col-5" *ngIf="diary.recordedDay != null">
        Recorded day: {{diary.recordedDay.dayOfMonth}}.{{diary.recordedDay.monthValue}}.
        {{diary.recordedDay.year}}
        <br>
        <span *ngIf="diary.categories[0] != null">
          Category name : {{diary.categories[0].name}}
        </span>
    </div>
    <div id="bubla" class="col-5" >
        {{diary.text}}
    </div>
</div>
