<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:#eba87c">
    Welcome to {{ title }}!<br><br>
  </h1>
<app-authentication (eventEmiter)="login($event)" *ngIf="!loggedIn"></app-authentication>
<button id="lout" type="button" class="btn btn-outline-warning" (click)="logoutUser()" *ngIf="loggedIn">Log out</button>
<div *ngIf="loggedIn">
  <label>Choose entry: </label>

  <div class="form-group">
      
      <div class="col-xs-5 selectContainer">
          <select class="form-control" [(ngModel)]="selectedEntry" name="entryCombobox">
              <option *ngFor="let entry of entries" [ngValue]="entry">{{entry}}</option>
          </select>
      </div>
  </div>

  </div>
</div>
<app-notes [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'Notes')"></app-notes>
<app-diaries [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'DiaryPages')"></app-diaries>
<app-goals [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'Goals')"></app-goals>
<app-todos [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'TODOs')"></app-todos>