<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!<br><br>
  </h1>
<app-authentication (eventEmiter)="login($event)" *ngIf="!loggedIn"></app-authentication>
<div *ngIf="loggedIn">
  <label>Choose entry: </label>
  <select [(ngModel)]="selectedEntry" name="entryCombobox">
    <option *ngFor="let entry of entries" [ngValue]="entry">{{entry}}</option>
  </select>
  </div>
</div>
<app-notes [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'Notes')"></app-notes>
<app-diaries [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'DiaryPages')"></app-diaries>
<app-goals [userId]="userId" *ngIf="loggedIn && (selectedEntry == 'Goals')"></app-goals>