<div>
  <label>email:</label>
  <input type="text" [(ngModel)]="loginData.email" name="email" email #validne="ngModel"/>
  <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Not right format of email.</div>
</div>
<div>
  <label>password:</label>
  <input type="text" [(ngModel)]="loginData.password" name="password" required #validne2="ngModel"/>
  <div [hidden]="validne2.valid || validne2.pristine" class="alert alert-danger">Password cannot be empty.</div>
</div>
<button type="button" class="btn btn-primary" (click)="loginUser()"
[disabled]="!(validne.valid || validne.pristine) || !(validne2.valid || validne2.pristine)">Log in</button>
<p>{{vypisLoginData}}</p>