<input type="text" [(ngModel)]="loginData.email" name="email" email #validne="ngModel" placeholder="E-mail"/>
<div>
  <br>
  <div [hidden]="validne.valid || validne.pristine" class="alert alert-danger">Incorrect format of email.</div>
</div>
<input type="password" [(ngModel)]="loginData.password" name="password" required #validne2="ngModel" placeholder="Password"/>
<div>
  <br>
  <div [hidden]="validne2.valid || validne2.pristine" class="alert alert-danger">Password cannot be empty.</div>
  
</div>
<button type="button" class="btn btn-outline-warning" (click)="loginUser()"
[disabled]="!(validne.valid || validne.pristine) || !(validne2.valid || validne2.pristine)">Log in</button>
<div [hidden]="!loginFailed" class="alert alert-danger" id="ez">Incorrect login data.</div>
<!--
<p>{{vypisLoginData}}</p>
//-->